@import "tailwindcss";

@font-face {
  font-family: "LeagueSpartan";
  src: url("./assets/fonts/LeagueSpartan.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./assets/fonts/NunitoSans.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "NunitoSans";
  --font-league: "LeagueSpartan";

  --color-dark: #2c2c2c;
  --color-main: #00a97f;
  --color-blue: #0060d1;
  --color-white: #f3faf8;
}

html,
body {
  @apply bg-white dark:bg-dark;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
